{{- if .Values.redis.enabled }}
{{- if .Values.redis.auth.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
stringData:
  {{ if .Values.redis.auth.password }}
  redis-password: {{ .Values.redis.auth.password | b64enc | quote }}
  {{ else }}
  redis-password: {{ randAlphaNum 10 | b64enc | quote }}
  {{ end }}
{{- end }}
{{- end }}
